<h2>Images</h2>
<img src="/images/IMG_4541.jpg" class="image_300x200">
<!-- <img src="<%= image_path "333913_292342647446373_1479268140_o.jpg"%>" class="image_300x200"> -->
<%= image_tag "333913_292342647446373_1479268140_o.jpg", class: "image_300x200" %>
