<div class = "container">
    <div class="row">
        <div class="col-md-3">
        <ul class = "list-group">
            <li class = "list-group-item">
            類別
                <ul class = "list-group">
                    <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                </ul>
            </li>
            <li class = "list-group-item">
            類別
                <ul class = "list-group">
                    <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                </ul>
            </li>
        </ul>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
            <div class="jumbotron">
            <h1 class="display-4"><%= @ad[:title]%></h1>
            <p class="lead"><%= @ad[:des]%></p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button"><%= @ad[:action_title]%></a>
            </div>
            </div>
            <div class = "row">
            <div class = "col-md-3">
                <div class="card" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/2120483/pexels-photo-2120483.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">商品</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
            <div class = "col-md-3">
                <div class="card" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/2120483/pexels-photo-2120483.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">商品</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
            <div class = "col-md-3">
                <div class="card" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/2120483/pexels-photo-2120483.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">商品</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
            <div class = "col-md-3">
                <div class="card" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/2120483/pexels-photo-2120483.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">商品</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
            
            </div>
        </div>
    </div>
</div>